* text=auto

*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.bsml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.sln text eol=crlf

*.dll binary
*.exe binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
